*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*sidebar*/
.sidebar{
    width: 200px;
    height: 100vh;
    background-color:black;
    position: fixed;
    top: 0;
    left: 0;
    
}

.sidebar-top{
    height: calc(100% - 200px);
    display: flex;
    flex-direction:column;
    margin-top: 20px;
    margin-left: 10px;
 }



 .logo img, .logo-mobile img{
     width: 80%;
 }


 .sidebar-menu{
     padding: 20px 0px;
    
 }

 .sidebar-menu img{
    width: 30px;
    vertical-align: middle;
 }

 .sidebar-menu a {
   text-decoration: none;
     color: grey;
     list-style-type: none;
 }

 .sidebar-lista{
    overflow-y: auto;
    color: grey;
    line-height: 30px;
}

.sidebar-lista h3{
    color: white;
}
 .sidebar-bottom{
     height: 100px;
 }

header{
    background-color:rgba(8,11,18,255);  
    height: 50px;
    position: fixed;
    left: 200px;
    width:calc(100% - 200px);
}
.flex-header{
    display: flex;
    justify-content: flex-end;
}

i{
    color: white;
}

    


 main{
    background-color:rgba(20,25,34,255);
   padding-left: 200px;
    padding-top: 50px;
    width: 100%;
    height: 1200px;
   
 }

 main nav{
     display: flex;
     justify-content:center;
 }

 nav ul li{
     display: inline-block;
     color: white;
     padding: 20px;
     font-size: 12px;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
    color: white; 
    
 }

 .menu-playlist{
    width:16%;
    margin:5px;
  
}

.menu-playlist img{
    width: 100%;
    
}



footer{
position: fixed;
width: 90%;
height: 50px;
background-color: red;
bottom: 0;
}



@media screen and (max-width: 425px){
.sidebar{
    width:50px;
}
main{
    width: 100%;
}
header {
 width:calc(100% - 50px);   
}

}

/*responsive*/

@media  screen and (min-width: 425px){

    main{
        width: 100%;
    }

    header{
        width: calc(100% - 200px);
    }
    
    footer{
        width: 100%;
    }
}

